.main{
}

.container{
  display: flex;
  width: 100%;
  max-width: 792px;
  margin: 0 auto;
}

.your-product{
  display: block;
  margin: 0 auto;
}

.your-product-header-title-h1{
  padding: 32px 0 21px;
  color: var(--fonts-primary-variant, #6E6893);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.your-product-header-line{
  width: 580px;
  height: 1px;
  background: var(--fonts-stroke, #C6C2DE);
  margin-bottom: 21px;
}

.your-product-window{
  background-color:var(--color-small-white,#FFF);
  padding: 28px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.20));
}

.your-product-window-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,60px);
  gap: 12px 24px;
}

.your-product-window-list-li{
  width: 100%;
  height: 100%;
  gap: 5px;
}

.your-product-window-list-li-discount{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--fonts-primary-variant, #6E6893);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.6px;
  width: 100%;
  gap: 5px;
}

.your-product-window-list-li-fieldset{
  border: none;
}

.your-product-window-list-li-discount-div{
  display: flex;
  gap: 10px;
}


.your-product-window-list-li-discount-checkbox{
display: none;
}

.fake-checkbox{
  width: 40px;
  height: 40px;
  background-color: #F4F2FF;
  border: none;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.fake-checkbox::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L8.5 16.5L21 1.5' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.your-product-window-list-li-discount-checkbox:checked + .fake-checkbox::before{
  opacity: 0;
}

.your-product-window-list-li-discount-input{
  width: 100%;
  max-width: 200px;
  height: 40px;
  background-color: #F4F2FF;
  border: none;
  border-radius: 6px;
}

.your-product-window-list-li-discount-input[disabled]{
  background-color: #808080;
}

.label{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--fonts-primary-variant, #6E6893);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.6px;
  width: 100%;
  height: auto;
  }

  .label-span-text{
    padding-left: 10px;
  }


.input{
  margin-top: 5px;
  background-color: #F4F2FF;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 40px;
}

.textarea-description{
  margin-top: 5px;
  background-color: #F4F2FF;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 112px;
  resize: none;
  padding: 10px;
}

.name-product{
  grid-area: 1/1/2/2;
}

.category{
  grid-area: 2/1/3/2;
}

.units{
  grid-area: 3/1/4/2;
}

.discount{
  grid-area: 4/1/5/2;
}

.description{
  grid-area: 1/2/3/2;
}

.quantity{
  grid-area: 3/2/4/3;
}

.price{
  grid-area: 4/2/5/3;
}

.button{
  grid-area: 5/2/6/3;
}

.input-img-div{
  width: 100%;
  padding-top: 8px;
  position: relative;
  text-align: center;
}

.input-img-div-input{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}


    .input-img-div-label-span-ico{
      width: 100%;
      max-width: 250px;
      height: auto;
    }

.your-product-footer{
  display: flex;
  padding-top: 28px;
  width: 100%;
  max-width: 523px;
  margin:  0 auto;
  justify-content: space-between;
}

.your-product-footer-price{
  display: flex;
}

.your-product-footer-price-total-cost{
  color: var(--fonts-primary-variant, #6E6893);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.your-product-footer-price-total-cost-calculation{
  color: var(--primary, #6D5BD0);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 50%;
  transform: translate(-0%,-10%);
}

.your-product-footer-button{
  width: 200px;
  height: 39px; 
  border-radius: 6px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  background: var(--primary, #6D5BD0);
  color: var(--color-small-white, #FFF);
}

