:root{

/*--color--*/
--color-white: #F4F2FF;
--color-small-white: #FFF;
--primary: #6D5BD0;
--fonts-stroke: #C6C2DE;
--fonts-primary-variant: #6E6893;
--primary: #6D5BD0;


/*--ICO--*/
--button-1:
--button-2:
--button-3: